* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-overflow-scrolling: tounch;
    font-family: "Mulish", sans-serif;

    &:focus {
        outline: 0;
    }
}

html,
body {
    height: 100%;
}

body {
    background: #E8ECF3;
    display: grid;
    place-items: center;
}

.alert{
    top:20px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 18px 42px;
    background:#0c1226 ;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms all;
    &.active{
        top: 30px;
        opacity: 1;
        visibility: visible;
    }
}

h3 {
    margin-top: 90px;
    font-size: 34px;
    font-weight: bold;
    color: #0c1226;
}

ul.color-palette {
    display: flex;
    margin: 0px -15px;

    

    li {
        width: 207px;
        height: 329px;
        background: #fff;
        border-radius: 15px;
        margin: 0px 15px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: 10px;
        position: relative;
        top:0px;
        transition: 300ms all;
        &:hover{
            top:-10px;
            box-shadow: 0 15px 42px -12px #a8b2c3;
        }

        input{
            position: absolute;
            opacity: 0;
            left: -99999px;
        }

        .color {
            width: 100%;
            height: 251px;
            background:var(--color);
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .text {
            text-align: center;
        }
    }
}

.action {
    text-align: center;

    button {
        width: 393px;
        height: 68px;
        background-color: #7e6cca;
        border-radius: 5px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 20px;

    }

    p {
        font-size: 18px;
        color: #0c1226;
        line-height: 29px;
    }
}

.shurtcut-text {
    background: #fff;
    padding: 9px 20px;
    border-radius: 25px;
    font-size: 16px;
    color: #0c1226;
}